

:root {
  body.theme-light {
    /**
     * Primaries
    **/
    --lnp-background-primary: #36454F;
    --lnp-text-primary: #EDF0DA;

    --lnp-background-secondary: #AEC6CF;
    --lnp-text-secondary: #C8E6C9;
  }
}